body{
    font-family: 'Mochiy Pop One';
}
.navbar{
    width: 100%;
    min-height: 100px;
    background-color: palevioletred;
    display: flex;
    justify-content: center;
}
.navbar > h1{
    font-size: 2em;
    margin: 10px;
    padding: 5px;
    font-size: 3em;
}
.BtnClick{
    display: flex;
    justify-content: center;
    margin: 5px;
    
}
input{
    min-height: 35px;
    margin: 10px;
}
#submit{
    width: 150px;
    background-color: rgb(155, 216, 155);
}
.mainForm{
    text-align: center;
    display: none;
}

.body{
    position: relative;
    background-color: antiquewhite;
}
#styleCard{
    text-align: center;
    margin: 10px;
    min-height: 340px;
    width: 30%;
    box-shadow: 0px 16px 24px 2px #125db324;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button{
    background-color: rgb(109, 214, 243);
    min-height: 60px;
    width: 30%;
}
.button > p{
    font-size: 2em;
    font-family: 'Mochiy Pop One';
}
.flowWord{
    word-wrap: break-word;
    font-size: 2em;
}
#removeButton{
    min-height: 30px;
    width: 50%;
}